@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.artists {
  grid-column: 3;
  grid-row: 5;
  text-align: center;

  @include respond($phone-small) {
    padding: 0rem 1rem;
  }

  &__heading {
    margin-bottom: 10rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8rem;
    margin-bottom: 10rem;

    @include respond($tab-land--small) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @include respond($tab-port) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s linear;
    text-align: center;

    @include respond($tab-land--small) {
      font-size: 3rem;
    }
    &:hover {
      scale: 1.1;
    }

    img {
      margin-left: 3rem;

      @include respond($tab-land--small) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
