@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  grid-row: 2;
  grid-column: 3;

  @include respond($phone-small) {
    padding: 0rem 1rem;
  }

  &__content {
    min-height: calc(100vh - 15.4rem);
    display: grid;
    grid-template-rows: min-content 1fr;
    justify-content: center;

    @include respond($tab-land--small) {
      row-gap: 3rem;
    }
  }

  &__text-box {
    max-width: 130rem;
    display: grid;
    grid-template-columns: 30% 1fr min-content;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5rem;

    @include respond($tab-land--small) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, min-content);
      row-gap: 2rem;
      column-gap: 0;
    }
  }

  &__paragraph {
    padding-top: 1rem;

    @include respond($medium-desktop) {
      font-size: 2rem;
    }

    @include respond($tab-land--small) {
      font-size: 1.6rem;
      grid-row: 2;
    }
  }

  &__avatars {
    grid-column: 1;
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    padding-bottom: 1rem;

    @include respond($tab-land--small) {
      grid-row: 3;
    }
  }

  &__avatars-img {
    flex-shrink: 0;
  }

  &__avatars-description {
    display: inline-block;
    font-size: 1.8rem;

    &--strong {
      display: block;
    }
  }

  &__heading-primary {
    display: inline-block;
    grid-column: 2;
    grid-row: 1 / -1;
    padding-right: 2rem;

    @include respond($tab-land--small) {
      padding: 0;
      grid-row: 1;
      grid-column: 1;
    }
  }

  &__logo {
    grid-column: 3;
    grid-row: 1 / -1;
    align-self: center;

    padding: 2rem 0;

    @include respond($tab-land--small) {
      display: none;
    }
  }

  &__gallery {
    max-width: 130rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    column-gap: 1rem;
    row-gap: 4rem;
    align-content: end;

    @include respond($tab-land--small) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 1rem;
    }
    @include respond($tab-port) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1rem;
      justify-items: center;
    }

    &-item {
      border: 1px solid #fff;
      max-width: 100%;
      transition: all 0.3s linear;

      @include respond($tab-port) {
        max-width: 90%;
      }
      &--7,
      &--8 {
        @include respond($tab-land--small) {
          display: none;
        }
      }

      &--5,
      &--6 {
        @include respond($tab-port) {
          display: none;
        }
      }

      &:hover {
        border: 1px solid $color-logo;
      }
    }
  }
}
