@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.products {
  grid-column: 3;
  grid-row: 4;

  /* @include respond($phone) {
    grid-column: 2;
  } */

  &__heading {
    margin-bottom: 10rem;

    @include respond($tab-port) {
      text-align: center;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 6rem;
    position: relative;

    @include respond($tab-port) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }

    &-line {
      position: absolute;
      height: 100%;
      border: 1px solid $subtitle-color;
      left: 50%;

      @include respond($tab-port) {
        display: none;
      }
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__heading {
    display: flex;

    img {
      margin-left: auto;
    }
  }

  &__subheading {
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    color: $subtitle-color;

    span {
      font-weight: 400;
      margin-left: auto;
    }
  }

  &--1,
  &--3 {
    justify-self: start;

    @include respond($tab-port) {
      justify-self: center;
    }
  }
  &--2,
  &--4 {
    justify-self: end;

    @include respond($tab-port) {
      justify-self: center;
    }
  }
}
