@use "../abstracts/variables" as *;
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

//headings
.heading {
  &-primary {
    font-size: 5rem;
    font-weight: 700;
  }

  &-secondary {
    font-size: 3rem;
    font-weight: 500;
  }
}

//textos
.paragraph {
  font-size: 1.8rem;
  font-weight: 400;

  &--large {
    font-size: 5rem;
    font-weight: 500;
  }
}
.text {
  &--red {
    color: var(--color-logo);
  }
}

//links
a {
  color: #fff;
  font-size: 1.8rem;
}
